/*CSS for header*/
.header {
    padding: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
}

.header h1 {
    font-size: 2em;
    color: var(--white);
    font-family: var(--bungee);
    font-weight: 400;
    font-style: normal; 
}

.header nav {
    font-size: 17px;
}

a {
    padding: 15px 15px 10px 20px; 
    background-color: var(--dark-blue); 
    color: var(--white);
    font-family: var(--anta);
}

button {
    border: 2px;
    border-color: var(--white);
    padding: 5px 5px 10px 5px;
    cursor: pointer;
    background-color: var(--dark-blue);    
}

/*CSS for card 
WHEN SEE THE CARD IN BROWSER I'LL UPDATE CSS IF NEEDED*/
.card {
    background-color: var(--pink);
    border-color: 40px var(--white);
    color: var(--white);
    font-size: 17px;
    font-family: var(--anta);
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 50vh;
    margin-left: 70vh;
    margin-right: 70vh;
}

/*CSS for footer*/
.panel-footer {
    color: var(--white);
    font-size: 1.1em;
    font-family: var(--anta);
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 30px;
}

